<div class="giao-vien-item" *ngIf="giaoVien">
  <h3>Giao Vien Detail:</h3>
  <div class="giao-vien-info">
    <label>Mã GV:</label>
    <span>{{giaoVien.maGV}}</span>
  </div>
  <div class="giao-vien-info">
    <label>Tên GV:</label>
    <span>{{giaoVien.tenGV}}</span>
  </div>
  <div class="giao-vien-info">
    <label>Năm sinh:</label>
    <span>{{giaoVien.namSinh}}</span>
  </div>
  <div class="giao-vien-info">
    <label>Email:</label>
    <span>{{giaoVien.email}}</span>
  </div>
  <div class="giao-vien-info">
    <label>Giới tính:</label>
    <span>{{giaoVien.gioiTinh}}</span>
  </div>
  <div class="giao-vien-info">
    <label>SĐT:</label>
    <span>{{giaoVien.sdt}}</span>
  </div>
  <div class="giao-vien-info">
    <label>Địa chỉ:</label>
    <span>{{giaoVien.diaChi}}</span>
  </div>
  <div class="giao-vien-info">
    <label>Mã môn học:</label>
    <span>{{giaoVien.maMonHoc}}</span>
  </div>
</div>
