<h2>Thông tin giáo viên</h2>

<form (ngSubmit)="submitForm()">
  <div>
    <label for="maGV">Mã GV:</label>
    <input type="text" id="maGV" [(ngModel)]="maGV" name="maGV" required>
  </div>

  <div>
    <label for="tenGV">Tên GV:</label>
    <input type="text" id="tenGV" [(ngModel)]="tenGV" name="tenGV" required>
  </div>

  <div>
    <label for="namSinh">Năm sinh:</label>
    <input type="number" id="namSinh" [(ngModel)]="namSinh" name="namSinh" required>
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" required>
  </div>

  <div>
    <label for="gioiTinh">Giới tính:</label>
    <select id="gioiTinh" [(ngModel)]="gioiTinh" name="gioiTinh" required>
      <option value="Nam">Nam</option>
      <option value="Nữ">Nữ</option>
    </select>
  </div>

  <div>
    <label for="sdt">SĐT:</label>
    <input type="tel" id="sdt" [(ngModel)]="sdt" name="sdt" required>
  </div>

  <div>
    <label for="diaChi">Địa chỉ:</label>
    <input type="text" id="diaChi" [(ngModel)]="diaChi" name="diaChi" required>
  </div>

  <div>
    <label for="maMonHoc">Mã môn học:</label>
    <input type="text" id="maMonHoc" [(ngModel)]="maMonHoc" name="maMonHoc" required>
  </div>

  <div>
    <button type="submit">Lưu</button>
  </div>
</form>

<h2>Danh sách giáo viên</h2>

<table>
  <thead>
    <tr>
      <th>Mã GV</th>
      <th>Tên GV</th>
      <th>Năm sinh</th>
      <th>Email</th>
      <th>Giới tính</th>
      <th>SĐT</th>
      <th>Địa chỉ</th>
      <th>Mã môn học</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let giaoVien of giaoVienList">
      <td>{{ giaoVien.maGV }}</td>
      <td>{{ giaoVien.tenGV }}</td>
      <td>{{ giaoVien.namSinh }}</td>
      <td>{{ giaoVien.email }}</td>
      <td>{{ giaoVien.gioiTinh }}</td>
      <td>{{ giaoVien.sdt }}</td>
      <td>{{ giaoVien.diaChi }}</td>
      <td>{{ giaoVien.maMonHoc }}</td>
      <!-- <td>
        <button (click)="viewDetail(giaoVien)">Detail</button>
      </td>  -->
      <td>
        <button (click)="removeTeacher(giaoVien.maGV)">Xóa</button>
      </td>
    </tr> `
  </tbody>
</table>